:root{
    --color:#c0304d;
    --bgcolor:rgb(25, 5, 43);
    --navcolor:rgb(23, 57, 107);
    --footcolor:black;
}

h1{
    font-weight: 400;
}
body{
     font-family: "Lobster", sans-serif;
     font-weight: 400;
     font-style: normal;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    background-image: linear-gradient(rgba(12, 106, 62, 0.5), rgba(219, 21, 94, 0.5)), url(./UniversialResource/bagroundass1.jpg);
}
main{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    gap:2vh ;
    background-color: #161a1dd6;
}
.main-container{
    width: 100%;
    height: auto;
    display: flex;
    
    margin-top: 25vh;
    flex-direction: column;
    align-items: center;
    gap: 20vh;
    background-color: #5959575b;
    color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.filter{
   filter:  brightness(0.8) contrast(1.5);
}
.icon-filter{
    width: 2vw;
    height: 3vh;
    border-radius: 50%;
    filter: invert(0.8);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.inermediate{
    width: 100vw;
    height: 0vh;
    position: relative;
    display: flex;
    justify-content: flex-end;
}
.intermediade-img img{
    animation: revrun 5s linear infinite;
    animation-delay: 0ms;
}
@keyframes revrun {
    0%{
        transform: translateX(0vw) scaleX(-1);

    }
    50%{
        transform: translateX(-50vw)scaleX(-1);
    }
    100%{
        transform: translateX(-100vw) scaleX(-1);
    }
}
@media screen and (max-width: 1000px){
    .inermediate{
    width: 100vw;
    margin: 0;
    position: relative;
    display: flex;
    justify-content: flex-end;
}
.intermediade-img img{
    height: 120px;
   
    animation: revrun 5s linear infinite;
    animation-delay: 0ms;
}
@keyframes revrun {
    0%{
        transform: translateX(0vw) scaleX(-1) translateY(10vh);

    }
    50%{
        transform: translateX(-50vw)scaleX(-1) translateY(-15vh) rotateY(50deg);
    }
    100%{
        transform: translateX(-100vw) scaleX(-1) translateY(-20vh);
    }
}
    
}
