*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
header{
    width: 100%;
    height: 10vh;
    background-color: var(--navcolor);
    display: flex;
    position: absolute;
    z-index: 1000;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 2vw;
}
nav{
    font-family: 'Times New Roman', Times, serif;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height :10%;
    background-color: var(--navcolor);
    display: flex;
    flex-direction: row;
    gap: 25vw;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-right: 1vw;
    justify-content: space-around;
    width: 25vw;
}
a{
    text-decoration: none;
    color: rgb(244, 239, 239);
    font-weight: 600;
}
.hamicon{
    width: 30px;
    filter: invert(1) brightness(0.8) contrast(1.2); 
}
.search input{
    animation: scolor 4s linear infinite ;
    border: none;
    border-radius: 25px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    width: 18vw;
    height: 4vh;
    text-align: center;
}
.search{
    display: flex;
    flex-direction: row;
    position: fixed;
    z-index: 1000 ;
    align-items: center;
    justify-content: flex-end;
    top: 20px;

}
.search input:focus{
    outline: none;
    box-shadow: 0 0 5px rgba(201, 46, 46, 0.5);
    background-color: rgba(96, 56, 56, 0.3);

}
form{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
 .search button{
    
    background-color: #a61515;
    border: none;
    border-radius: 25px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    width: 4vw;
    height: 4vh;
    color: white;
    font-weight: 600;
}
.logo {
    width: 8vw;
    height: 8vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    color: azure;
}
.logo h4{
    transform:translateX(7vw) translateY(-7vh);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #f1d626d6;
}
.logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 50%;
    margin: 10px;
    filter:  brightness(1) contrast(1.2) ;

}
@keyframes scolor {
        0%{
         background-color: rgba(239, 199, 20, 0.467) ;
        }
         40%{
            background-color: rgb(255, 219, 61);
         }
       
         100%{
            background-color: rgba(239, 199, 20, 0.332) ;
         }
        }
 @media screen and (max-width: 1000px){
    body{
        font-size: 0.8rem;
    }
    nav{
        width: 100vw;
        height: 8vh;
        display: flex;
        
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
    }
    nav ul li{
        width: 20%;
        height:10%;
        
    }
    .hamburger{
        visibility: visible;
        width: 10vw;
        height: 8vh;
        border-radius: 5px;
        display: flex ;  
        justify-content: center;
        align-items: center; 
    }
    .hamburger ul{
        visibility: hidden;
        position: absolute;
        z-index: 5;
        right: 4px;
        flex-direction: row-reverse;
        width: 40vw;
        height: auto;
        gap: 25px;
        justify-content: flex-start;
        align-items: center;
    
    }
    .hamicon{
        visibility: visible;
        background-color: transparent;
        display: block;
           
    }
    .search input{
        width: 60vw;
        height: 5vh;
        border-radius: 25px;
        border: none;
        background-color: rgba(221, 10, 10, 0.738);
        text-align: center;
    }
    .search button{
        width: auto;
        height: auto;
        overflow-x: hidden;
        border-radius: 25px;
        border: none;
        background-color: var(--color);
        color: white;
        font-weight: 600;
    }
    .search{
        visibility: hidden;
        position: absolute;
        top: 10px;
    }
   .logo{
    width: 10vw;
    height: 6vh;
    position: fixed;
   }
   .logo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 50%;
    margin: 3px;
    filter: brightness(0.8) contrast(1.2);
   }
   .logo h4{
    transform: translateX(12vw) translateY(-5vh);
    color: #f1de0cd6;
   }
} 
@media screen and (min-width: 1000px){
  
    .hamburger ul{
        visibility: visible;
    }
    .hamicon{
        visibility: hidden;
        width: 20px;
        height: 20px;
        position: absolute;
        top: 50px;
        right: 10px;
        background-color: #e16767;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    form img{
        visibility: hidden;
    }
}